.main{
  display: flex;
  align-items: center;
  background-color: #1a88ffcc;
  max-height: auto;
  height: 100vh;
}

.conteiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
  background-color: #deedf9;
  width: 40%;
  height: 50%;
  border-radius: 25px;
  border: 1px black solid;
}

.conteiner > div {
  margin: 0 0 10px 20px;
  font-size: large;
}

.conteiner p {
  margin-bottom: 5px;
}

.button {
  width: 50%;
}

.button a {
  text-decoration: none;
  color: #000;
}

.button button {
  padding: 5px 0;
  transition: .5s;
}