.initial{
  display: flex;
  background-color: #D7D8FC;
  font-size: 36px;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.initial > div {
  margin: 30px;
}

.red{
  color: #DF3B2F;
  font-size: 64px;
}

.logo img{
  position: fixed;
  right: 30px;
  width: 50px;
  height: 50px;
  top: 5px;
  animation: logo 1s;
  z-index: 2;
}

@keyframes logo{
  0%{
    position: absolute;
    right: 50px;
    top: 160px;
    width: 300px;
    height: 300px;
    z-index: 0;
  }
  10%{
    position: fixed;
  }
  100%{
    position: fixed;
    right: 30px;
    width: 50px;
    height: 50px;
    top: 5px;
    z-index: 2;
  }
}

.bigLogo img{
  position: absolute;
  right: 50px;
  top: 160px;
  width: 300px;
  height: 300px;
  animation: bigLogo 1s;
  z-index: 0;
}

@keyframes bigLogo{
  from{
    right: 30px;
    width: 50px;
    height: 50px;
    top: 5px;
    z-index: 2;
  }
  to{
    right: 50px;
    top: 160px;
    width: 300px;
    height: 300px;
    z-index: 0;
  }
}

.conteinerAbout{
  background-color: #C4B4D4;
  height: 100vh;
}

.conteinerAbout h2 {
  padding-top: 80px;
  text-align: center;
}

.about{
  display: flex;
  justify-content: space-between;
  margin: 70px 80px;
}

.about > div:first-child{
  width: 50%;
  font-size: xx-large;
}

.about > div:first-child > p:first-child{
  margin-bottom: 20px;
}

.sociais{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 40%;
  font-size: x-large;
  text-decoration: underline;
}

.sociais p {
  background-color: #ab83d3;
  padding: 15px 10px;
  border-radius: 15px;
  border: 1px #000 solid;
  width: 75%;
}

.cdp{
  display: flex;
  align-items: center;
  padding-right: 50px;
  background-color: #FFD9D9;
  height: 100vh;
}

.draining{
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #E2ACAC;
  height: 100vh;
}

.project{
  background-color: #B7E4E4;
  height: 75vh;
  width: 50vw;
  border: #287878 3px solid;
}

.project img{
  width: 480px;
  height: 270px;
  border-radius: 5px;
  transition: .3s;
}

.image{
  display: flex;
  align-items: center;
  height: 75%;
  margin: 30px;
}

.image img:hover{
  width: 510px;
  height: 290px;
  border: #E2ACAC 2px solid;
}

.left{
  border-radius: 0 250px 250px 0;
}

.left h2{
  margin: 20px 0 0 130px;
}

.rigth{
  position: absolute;
  right: 0;
  border-radius:  250px 0 0 250px;
}

.rigth h2{
  text-align: center;
  margin: 20px 0 0 130px;
}

.rigth > div{
  justify-content: end;
}